/*
grid-area: start row / start column / end row / end column;
 */

@font-face {
    font-family: Komplexitater;
    src: url('./src/komplexitater.ttf');
}

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: 30% 10% 10% 50%;
    min-height: 100%;
    margin: 0px;
    overflow: hidden;
}

#backlog{
    border: none;
    grid-area: 1 / 1 / 2 / 2;
    overflow-x:hidden;
    overflow:visible;
    position: relative;
}

.item{
    margin:0.1em;
    height:2em;
    font-size: x-small;
    padding-left: 1.5em;
    padding-top: 0.5em;
    background-color: transparent;
    background-image: url("./src/item_border_small_2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.station .item{
    font-size: x-small;
    padding: 0.5em;
    padding-left: 1em;
    width:75%;
    opacity: 0.8;
    background-color: aliceblue;
}

#controls{
    border: 1px black solid;
    padding:0.5em;
    grid-area: 2 / 1 / 4 / 2;
    background-color: aliceblue;
    position:relative;
}

.clock_digit{
    width:12%;
}

.clock_display{
    position:absolute;
    margin-top: 1em;
    left: 10%;
    width:75%;
    height: auto;
    padding: 0.5em;
    background: lightgrey;
    border-radius: 150px;
}

.control_button{
    outline:none;
    width: 28%;
    height: auto;
    box-sizing: border-box;
    background-size: 90%;
    background-color: lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
}

.button_play{
    background-image: url("./src/play_button.png");
}

.button_play:disabled{
    opacity: 0.4;
}

.button_pause {
    background-image: url("./src/stop_button.png");
}

.button_pause:disabled{
    opacity: 0.4;
}

.button_reset{
    background-image: url("./src/reset_button.png");
}

.button_reset:disabled{
    opacity: 0.4;
}

#observers{
    border: 1px black solid;
    padding:0.1em;
    grid-area: 4 / 1 / 5 / 2;
    background-color: darkgray;
    position:relative;
}

.attendee{
    background-color: transparent;
    width: auto;
    height: 3em;
    border-radius: 1.5em;
    padding-top: 0.3em;
    padding-left: 0.3em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: Komplexitater;
    font-size: large;
    border: none;
    position:relative;
    z-index:3; /*although position: relative - because position set to absolute when drag&dropped within other elements*/
}

.station .attendee{
    overflow:visible;
}

#observers .attendee{
    overflow:hidden;
}

.avatar{
    height: 3em;
    width: 3em;
    margin-top: -0.3em;
    margin-left: -0.2em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-image: url('./src/avatar_1.png');
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float:left;
}

.station .attendee_name_label{
     position: absolute;
     text-align: center;
     width: 100%;
     bottom: 0%;
     left: 0%;
     font-size: x-small;
     background-color: cyan;
     border-radius:100px;
     overflow:hidden;
 }

#observers .attendee_name_label{
    position: absolute;
    border-radius:100px;
    left: 2.9em;
    background-color:transparent;
    bottom:0.8em;
    width: auto;
}

.not_current_user{

}

.current_user{
    background-color: transparent;
}

.timeout_user{
    border: 3px solid orangered;
    background-color: tomato;
    animation:blinkingDiv 1s infinite;
}

@keyframes blinkingDiv{
    0%{    background-color: orangered;    }
    50%{ background-color: transparent;}
    100%{   background-color: tomato;    }
}

#stations{
    border: 0px black solid;
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0;
    display:flex;
    background-image: url("./src/workflow_arrow.png");
    background-repeat: no-repeat;
    background-size: 89% 100%;
}

.station{
    width: 15%;
    height: 100%;
    font-size: initial;
    overflow: visible;
    position:relative;
    opacity: 1;
    border-left: 5px solid transparent;
    border-image: url("./src/border_grey.png") 50 stretch;
    /*
    background-image: url("./src/border_orange.png");
    background-size: 5%;
    background-position: left;
    background-repeat: no-repeat;
    */
}

.drop_target{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: transparent;
    z-index:2;
}

#done.station{
    background-color: rgba(123,255,55,0.8);
    min-width:10%;
    max-width:100%;
    float: right;
    position:relative;
    overflow:visible;
}

#done .station_label{
    background-image: url("./src/border_blue.png");
    background-color: cyan;
}

#backlog .station_label{
    background-image: url("./src/border_blue.png");
    background-color: cyan;
}

.station_label{
    position:absolute;
    text-align: center;
    font-size: large;
    font-family: Komplexitater;
    font-variant: small-caps;
    padding-top: 0.3em;
    height: 1.5em;
    width: 95%;
    bottom: -5%;
    left: 2.5%;
    background-image: url("./src/station_label_3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index:2;
}

.station_thumbnail{
    position: absolute;
    width: 90%;
    left:5%;
    height: 40%;
    border: 1px dotted lightgrey;
    bottom: 5%;
    background-color: rgba(255,255,255,0.7);
    z-index:1;
}

.station .attendee{
    width:3.1em;
    float:right;
    right: 2%;
    top: 2%;
    position:absolute;
}

/*****************************Workbench elements***********************************/

#workbench{
    border: 1px black solid;
    grid-area: 2 / 2 / 5 / 3;
    position:relative;
}

.workarea{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image: url("./src/border_orange.png") 35 repeat;
    height: 100%;
    top:0;
    left: 15%;
    width:70%;
    position: absolute;

}

.workinprogress{
    right: 2%;
    top: 5%;
    height: 30%;
    width: 18%;
    position:absolute;
    background-image: url("./src/container_grey_vertical.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tools{
    right: 2%;
    top: 37%;
    height: 60%;
    width: 18%;
    position: absolute;
    background-image: url("./src/container_grey_vertical.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.column{
    position:absolute;
    width:15%;
    height: 100%;
    top: 0;
}

.todo{
    left:0;
}

.done{
    right:0;
}

.column_label{
    position:absolute;
    text-align: center;
    font-size: large;
    font-family: Komplexitater;
    font-variant: small-caps;
    padding-top: 0.3em;
    height: 1.5em;
    width: 95%;
    bottom: 5%;
    left: 2.5%;
    background-image: url("./src/border_blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}