/*
grid-area: start row / start column / end row / end column;
 */

@font-face {
    font-family: Komplexitater;
    src: url('./src/Komplexitater.ttf');
}

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: 30% 20% 0% 50%;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    margin: 0px;
    overflow: hidden;
    visibility: hidden;
}

#backlog{
    border: none;
    grid-area: 1 / 1 / 2 / 2;
    overflow:visible;
    position: relative;
}

.item{
    margin:0.1em;
    height:2em;
    font-size: x-small;
    padding-left: 0.5em;
    padding-top: 0.5em;
    background-color: aliceblue;
    background-image: url("./src/item_border_small.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: default;
}

.green_item{
    background-color:green;
}

.red_item{
    background-color:red;
}

.blue_item{
    background-color:blue;
}

.item_preview{
    position:absolute;
    width:150px;
    height:125px;
    z-index:3;
    cursor: default;
    background-image: url("./src/container_grey_vertical.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: aliceblue;
    opacity: 0.95;
}

.context_menu{
    position:absolute;
    width:150px;
    height:auto;
    z-index:4;
    cursor: default;
    opacity: 1;
}

.context_menu_option{
    width:100%;
    height:auto;
    background-color: yellow;
}

.context_menu_option:hover{
    width:100%;
    height:auto;
    background-color: yellowgreen;
}


.station .item{
    font-size: x-small;
    padding: 0.5em;
    padding-left: 0.5em;
    width:75%;
    opacity: 0.8;
}
.station .wip_item {
    color: deeppink;
    background-image: url("./src/item_border_small_pink.png");
}

.station .done_item {
    color: deeppink;
    background-image: url("./src/item_border_small_pink.png");
    animation: blinkingDone 1.4s infinite;
}
@keyframes blinkingDone {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.75;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}


#controls{
    padding: 0.8em;
    padding-top: 10%;
    grid-area: 2 / 1 / 4 / 2;
    background-color: aliceblue;
    position:relative;
}

.clock_digit{
    width:12%;
}

.clock_display{
    position:absolute;
    bottom:25%;
    left: 10%;
    width:75%;
    height: auto;
    padding: 0.5em;
    background-image: url("./src/border_round_orange.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.control_toggle_push_container{
    position:absolute;
    font-family: Komplexitater;
    width: 85%;
    height: 25%;
    bottom:0%;


}

.control_toggle_push_container div{
    position: relative;
    width:100%;
    height:100%;
    float: left;
}

.control_toggle_push_container input[type="checkbox"] {
    display: none;
}

.control_toggle_push_container label {
    color: #333;
    font-size: large;
    display: inline-block;
    line-height: 170%;
}

.toggle_left{
    float:left;
}

.toggle_right{
    float: right;
}


.control_toggle_push_container .containing_span {
    position:relative;
    background-color: transparent;
    background-image: url("./src/border_blue.png");
    background-size: 100% 100%;
    display: inline-block;
    width: 55%;
    height: 25px;
    cursor: pointer;
    left:5%;

}

.control_toggle_push_container .contained_span {
    position:relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    bottom:0;
    cursor: pointer;
    background-color: transparent;
    background-image: url("./src/toggle_thumb.png");
    background-size: 100% 100%;
    -webkit-transition: .4s;
    transition: .4s;
    left:5%;
}

.control_toggle_push_container input[type="checkbox"]:checked + .contained_span{
    left:60%;
}

.control_button{
    outline:none;
    width: 2.3em;
    height: 2.3em;
    box-sizing: border-box;
    border:none;
    background-size: 100%;
    background-color: lightgrey;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
    cursor: pointer;
}

.control_button:disabled {
    opacity: 0.2;
    cursor: default;
}


.button_play{
    background-image: url("./src/play_button.png");
}

.button_pause {
    background-image: url("./src/stop_button.png");
}

.button_reset{
    background-image: url("./src/reset_button.png");
}

.button_stats{
    background-image: url("./src/stats_button.png");
}

#observers{
    padding:0.1em;
    padding-top: 0.5em;
    grid-area: 4 / 1 / 5 / 2;
    background-color: aliceblue;
    position:relative;
}

.attendee{
    background-color: transparent;
    width: auto;
    height: 2.4em;
    border-radius: 1.5em;
    padding-top: 0em;
    padding-left: 0.3em;
    margin-bottom: 0.2em;
    text-align: left;
    font-family: Komplexitater;
    font-size: large;
    border: none;
    position:relative;
    z-index:3; /*although position: relative - because position set to absolute when drag&dropped within other elements*/
}

.station .attendee{
    overflow:visible;
}

#observers .attendee{
    overflow:hidden;
}

.avatar{
    height: 2.4em;
    width: 2.4em;
    margin-top: -0.00em;
    margin-left: -0.3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-image: url('./src/avatar_6.png');
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float:left;
}

#observers .current_user .avatar{
    background-color: #cfe0f6;
}

.station .attendee_name_label{
     position: absolute;
     text-align: center;
     width: 100%;
     height: 25%;
     bottom: 0;
     left: 0;
     font-size: small;
     background-color: cyan;
     border-radius:100px;
     overflow:hidden;
 }

.current_user .attendee_name_label{
    background-color: #ff97e3;
}

#observers .attendee_name_label{
    position: absolute;
    border-radius:100px;
    left: 2.8em;
    background-color:transparent;
    bottom:0.6em;
    width: auto;
}

.not_current_user{

}

.current_user{
    background-color: transparent;
}

.timeout_user{
    background-color: tomato;
    animation:blinkingDiv 1s infinite;
}

@keyframes blinkingDiv{
    0%{    background-color: orangered;    }
    50%{ background-color: transparent;}
    100%{   background-color: tomato;    }
}

#stations{
    border: 0px black solid;
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0;
    display:flex;
    background-image: url("./src/workflow_arrow.png");
    background-repeat: no-repeat;
    background-size: 89% 100%;
}

.station{
    width: 100%;
    height: 100%;
    font-size: initial;
    overflow: visible;
    position:relative;
    opacity: 1;
    border-left: 5px solid transparent;
    border-right-width: 0px;
    border-image: url("./src/border_grey.png") 50 stretch;
}

#done.station{
    background-color: rgba(123,255,55,0.5);
    min-width:15.5%;
    max-width:100%;
    float: right;
    position:relative;
    overflow:visible;
}

.drop_target{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: transparent;
    z-index:2;
}

#done .station_label{
    background-image: url("./src/border_blue.png");
    background-color: white;
}

#backlog .station_label{
    background-image: url("./src/border_blue.png");
    background-color: white;
}

.station_label{
    position:absolute;
    text-align: center;
    font-size: large;
    font-family: Komplexitater;
    font-variant: small-caps;
    padding-top: 0.3em;
    height: 1.5em;
    width: 95%;
    bottom: -5%;
    left: 2.5%;
    background-color: rgba(255,255,255,1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index:2;
}

.station_thumbnail{
    position: absolute;
    width: 90%;
    left:5%;
    height: 40%;
    border: 1px dotted lightgrey;
    bottom: 5%;
    background-color: rgba(255,255,255,0.8);
    z-index:1;
}

/***classes for handling different locked_div display status on .station_thumbnail***/

.coffee_break{
    background-image: url("./src/coffee_break_large.png");
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
.simulation_paused{
    background-image: url("./src/stop_button_large.png");
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

.pull_ready{
    background-image: url("./src/p_button_large.png");
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

.unattended{
    background-image: url("./src/avatar_empty.png");
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

.none{

}


/****************/

.station .attendee{
    width:2.4em;
    float:right;
    right: 2%;
    top: 2%;
    position:absolute;
}

/*****************************Workbench elements***********************************/

#workbench{
    border: none;
    grid-area: 2 / 2 / 5 / 3;
    position:relative;
    background-color: white;
}

.workarea{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-image: url("./src/border_orange.png") 35 repeat;
    height: 100%;
    top:0;
    left: 15%;
    width:70%;
    position: absolute;
}

.locked_div{
    height: 100%;
    top:0;
    left: 15%;
    width:70%;
    position: absolute;
    z-index: 3;
    cursor: not-allowed;

    opacity: 0.8;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.simulation_paused{
    background-image: url("./src/stop_button_large.png");
}

.no_work_in_progress{
    background-image: url("./src/p_button_large.png");
}

.work_in_progress .station_label, .tools .station_label{
    background-image: url("./src/station_label_2.png");
    background-color: white;
    width:80%;
    left:10%;
    bottom:-2%;
}

.work_in_progress{
    right: 2%;
    top: 5%;
    height: 30%;
    width: 18%;
    position:absolute;
    background-image: url("./src/container_grey_vertical.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:0.5em;
}

.tools{
    display: flex;
    right: 2%;
    top: 37%;
    height: 60%;
    width: 18%;
    position: absolute;
    background-image: url("./src/container_grey_vertical.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.column{
    position:absolute;
    width:15%;
    height: 100%;
    top: 0;
    padding-top: 2%;
}

.todo{
    left:0;
    border-left: 5px solid transparent;
    border-right-width: 0px;
    border-image: url("./src/border_grey.png") 55 repeat;
}


@keyframes blinkingpbutton{
    0%{    background-image: url('./src/p_button.png'); }
    50%{ background-image: url('./src/p_button_disabled.png');  }
    100%{   background-image: url('./src/p_button.png');  }
}

.todo .p_button:enabled{
    animation: blinkingpbutton 0.8s infinite;
}

.todo .p_button{
    right:-2em;
}

.done{
    right:0;
}

.done .p_button{
     left:-2em;
}

.p_button{
    position:absolute;
    width:3.5em;
    height:3.5em;
    top:45%;
    border-radius: 50%;
    background-image: url('./src/p_button.png');
    background-color: white;
    opacity: 1;
    background-size:100%;
    background-repeat: no-repeat;
    z-index:4;
    outline:none;
    cursor:pointer;
    border:none;
}

.p_button:disabled{
    background-image: url('./src/p_button_disabled.png');
    cursor: not-allowed;
}

@keyframes glass_hourAnimation{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

.glass_hour:disabled{
    background-image: url('./src/glass_hour.png');
    background-color: white;
    opacity: 1;
    background-size:100%;
    background-repeat: no-repeat;
    animation: glass_hourAnimation 3s infinite;
}

.column_label{
    position:absolute;
    text-align: center;
    font-size: large;
    font-family: Komplexitater;
    font-variant: small-caps;
    padding-top: 0.3em;
    height: 1.5em;
    width: 95%;
    bottom: 5%;
    left: 2.5%;
    background-image: url("./src/border_blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:white;
}

#workbench_canvas {
    background-color: transparent;
}

/*********Workbench > Toolbox **************/
.invisible_div{
    visibility:hidden;
}

.visible_div{
    visibility: visible;
}

.tools_button{
    margin: 0.3em;
    margin-top:1em;
    ouline:none;
    box-shadow: 1px 3px 3px #888888;
    font-family: Komplexitater;
    font-size: large;
    border:none;
    background-color: transparent;
    background-image: url("./src/border_blue.png");
    background-size: 100% 100%;
    cursor: pointer;
}


.custom-radios{
    margin-top: 1em;
}

.custom-radios div{
    float: left;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-radios span {
    background-color: #000000;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}


.custom-radios img {
    opacity: 0;
    width: 50%;
    height: auto;
    transition: all .3s ease;
}


#width-1 + label span {
    width: 22px;
    height: 22px;
    border: 10px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

#width-2 + label span {
    width: 22px;
    height: 22px;
    border: 8px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

#width-3 + label span {
    width: 22px;
    height: 22px;
    border: 6px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

#width-4 + label span {
    width: 22px;
    height: 22px;
    border: 4px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

#width-5 + label span{
    width: 22px;
    height: 22px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}


#color-1 + label span {
    background-color: #2ecc71;
}

#color-2 + label span {
    background-color: #3498db;
}

#color-3 + label span {
    background-color: #f1c40f;
}

#color-4 + label span {
    background-color: #e74c3c;
}

#color-5 + label span {
    background-color: #dea06e;
}

#color-6 + label span {
    background-color: #ff97e3;
}

#color-7 + label span {
    background-color: #656565;
}

#color-8 + label span {
    background-color: #ffffff;
}

.custom-radios :checked + label span img {
    opacity: 1;
}

#widthPicker :checked + label span {
    border-color: lightgrey;
}


@keyframes incomingItem{
    0%{  position: relative; left: -500%; background-color: cyan;}
    75%{  position: relative; left: -125%; background-color: cyan;}
    100%{  position: relative; left: 0%; background-color: cyan;}
}

.work_in_progress .item{
    animation: incomingItem 0.7s ease;
}

@keyframes blinkingInstruction{
    0%{    color: orangered;  }
    50%{ color: transparent;  }
    100%{   color: initial;   }
}

.work_in_progress p{
    font-family: Komplexitater;
    font-size: large;
    animation: blinkingInstruction 0.6s linear 0.7s 1;
}

#brand {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding-left: 10%;
    background-color: aliceblue;
}
#brand img {
    width: 80%;
}