.cursor {
    position: absolute;
    z-index: 9999;
    width: 25px;
    height: 32px;
    pointer-events: none;
    border: none;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 85%;
}

.cursor_1 {
    background-image: url('src/cursor_1.png');
}

.cursor_2 {
    background-image: url('src/cursor_2.png');
}

.cursor_3 {
    background-image: url('src/cursor_3.png');
}

.cursor_4 {
    background-image: url('src/cursor_4.png');
}

.cursor_5 {
    background-image: url('src/cursor_5.png');
}

.cursor_6 {
    background-image: url('src/cursor_6.png');
}

.cursor_7 {
    background-image: url('src/cursor_7.png');
}

.cursor_8 {
    background-image: url('src/cursor_8.png');
}

.cursor_9 {
    background-image: url('src/cursor_9.png');
}

.cursor_cur_1 {
    cursor: url("src/cursor_cur_1.png"), none;
}
.cursor_cur_2 {
    cursor: url("src/cursor_cur_2.png"), none;
}
.cursor_cur_3 {
    cursor: url("src/cursor_cur_3.png"), none;
}
.cursor_cur_4 {
    cursor: url("src/cursor_cur_4.png"), none;
}
.cursor_cur_5 {
    cursor: url("src/cursor_cur_5.png"), none;
}
.cursor_cur_6 {
    cursor: url("src/cursor_cur_6.png"), none;
}
.cursor_cur_7 {
    cursor: url("src/cursor_cur_7.png"), none;
}
.cursor_cur_8 {
    cursor: url("src/cursor_cur_8.png"), none;
}
.cursor_cur_9 {
    cursor: url("src/cursor_cur_9.png"), none;
}

html.reset-all-cursors *
{
    cursor: inherit !important;
}