
body {
    visibility: hidden;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
}

#back_btn {
    position: absolute;
    top: 1em;
    left: 1em;
}

table {
    margin: auto;
}

th {
    text-align: right;
}

td {
    text-align: right;
}

.frame {
    display: inline-block;
    margin: 3%;
}

