.display_block{
    margin: auto;
    margin-top: 0.4em;
    width: 50%;
    border: 3px dotted gray;
    padding: 10px;
    text-align: center;
}

#current_user .avatar, #current_user .ready_button_active, #current_user .ready_button{
    cursor: pointer;
}

#current_user .ready_button_active{
    opacity: 1;
    background-color: green;
    border: greenyellow 4px solid;
}

#current_user .ready_button{
    border: greenyellow 4px solid;
}

.attendee{
    broder: black 10px solid;
}

.attendee button{
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    outline: none;
}

.avatar{
    border: 1px lightgrey solid;
    background-color: rgba(255,255,0,0.2);
}

.ready_button{
    background-image: url("./src/start_ready.png");
    background-size: contain;
    border: 1px lightgrey solid;
    opacity: 0.4;
}

.ready_button_active{
    background-image: url("./src/start_ready.png");
    background-size: contain;
    background-color: greenyellow;
    border: 1px greenyellow solid;
    opacity: 0.6;
}

input{
    width: 100%;
    box-sizing: border-box;
    margin:0.3em;
}

#attendees_list input{
    width: 75%;
    height: 3.5em;
    border-radius: 1.75em;
    padding:1em;
    outline:none;
    background-color: rgba(0,255,255,0.2);
    border: cyan 1px solid;
}

#attendees_list #current_user input{
    border: 4px solid cyan;
}

#share input{
    width: 50%;
}

#start_simulation_button{
    width: 100%;
    height: 4.0em;
    border-radius: 1.75em;
    outline:none;
    color: azure;
    font-size: larger;
    background-color: rgba(255, 0, 255, 1);
    border: none;
    cursor: pointer;
}

#start_simulation_button:disabled{
    background-color: rgba(255, 0, 255, 0.4);
    cursor: not-allowed;
}