.header{
    width: auto;
    height: 20%;
    margin-bottom: 10px;
    font-size: x-large;
    padding: 1rem;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    display: flex;
}

.header form{
    font-size: medium;
    flex: 1;
    margin-right: 5%;
    padding: 1rem;
}

.revenue{
    font-size: large;
    padding: 1rem;
    width: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    text-align: center;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.filters_form{
    width:75%;
}

.formrow{
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.main{
    background-color: aliceblue;
    width: 100%;
    height: 80%;
}



table.styledTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.styledTable .icon {
    width: 1rem;
    height: auto;
    margin-left: 1rem;
}
table.styledTable td, table.styledTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.styledTable tbody td {
    font-size: 13px;
}
table.styledTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.styledTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.styledTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.styledTable thead th:first-child {
    border-left: none;
}

table.styledTable tfoot td {
    font-size: 14px;
}
table.styledTable tfoot .links {
    text-align: right;
}
table.styledTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}